

.display{
    display: flex;
}

.just{
    justify-content: center;
}

.align{
    align-items: center;
}


.bg_black{

    background-color: black;
    color: white;

}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
}

.round{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark track background */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark gray thumb */
  border-radius: 6px;
  border: 2px solid #1e1e1e; /* Padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1e1e1e;
}
